/* variables */
:root{
--color1: #ffb9b9;
}

@font-face {
    font-family: "repet";
    src: url("repet.ttf") format("truetype");
}

@font-face {
    font-family: "Aileron-Bold";
    src: url("fonts/aileron/Aileron-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Aileron-Regu";
    src: url("fonts/aileron/Aileron-Regular.otf") format("truetype");
}
  
body{
    font-family: "Aileron-Bold", sans-serif;
    background-color: #5da8be;
    font-size: 18px;
}

p{
    font-family: "Aileron-Regu", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.fa-bars:before{
    color: var(--color1);
}

.navbar-brand{
    font-family: "repet", sans-serif;
}

.nav-item{
    font-family: "Aileron-Regu", sans-serif;
}

.navbar{
    z-index: 1;
}

.bg-dark{
    background: rgba(68, 60, 60, 0.398) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.159);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(68, 60, 60, 0.294);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      justify-content: center;
      width: 100vw;
      position: absolute;
    }
  }
  

.nav-link.active{
    color: var(--color1) !important;
}







.container {
    margin: 5%;
    padding: 3%;
    background: rgba(255, 185, 185, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 185, 185, 1);
    /* From https://css.glass */
    background: rgba(255, 185, 185, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 185, 185, 1);
    width: 84%;
    margin-left: auto;
    margin-right: auto;
  }
  
  