body{
    font-family: 'Wix Madefor Display', sans-serif;
    min-width: 570px;
    background-image: none;
}

.bg{
    background-image: url("resources/background.jpg"); /* TODO FIX THIS */
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: cover !important;
    z-index: -12;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(40%) blur(2px);
}

#header{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    z-index: -10;
    display: flex;
    background-color: #00172452;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.header{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    z-index: -10;
    display: flex;
    background-color: #00172452;
    white-space: nowrap;
    flex-wrap: nowrap;
}

@font-face {
    font-family: repet;
    src: url(resources/repet___.ttf);
}

.title{
    font-family: repet;
    color: #FFAC9A;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 60px;
    /* padding-right: 3rem; */
    /* align-items: flex-start; */
    text-shadow: -1px -1px 0 #001724, 1px -1px 0 #001724, -1px 1px 0 #001724, 1px 1px 0 #001724, 2px 2px #ECFFFF;
    cursor: pointer;
}

.h1{
    font-size: 36px;
}

.spacer{
    width: 20px;
}

.menu-item{
    font-family: 'Wix Madefor Display', sans-serif;
    color: #ECFFFF;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    padding: 0 1rem;
    white-space: nowrap;
}

.menu-item:hover{
    background-color: #ecffff3f;
    border-bottom-style: inset;
    box-shadow: inset 0 0 -5px 0 #ECFFFF;
}

.overlay{
    background-color: #241c0059;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -11;
}

.page-content-wrapper{
    width: 80vw;
    height: auto;
    max-height: 70vh;
    bottom: 10vh;
    top: 20vh;
    position: absolute;
    left: 10vw;
    background-color: #ecffff59;
    border-radius: 1rem 0 0 1rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #001724; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #64453e; 
  }

.page-content{
    padding: 15px;
    font-size: 18px;
}